    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html {
        font-family: Poppins;
    }
    
    a {
        text-decoration: none;
    }
    
    .header {
        width: 100%;
        height: 77px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9B4A46;
    }
    
    .logo {
        margin-left: auto;
    }
    
    .user-icon {
        width: 120px;
        display: flex;
        justify-content: center;
        margin-left: auto;
    }
    
    .user-icon svg {
        margin-top: 5px;
    }
    
    .user-icon a {
        color: #fff;
    }
    
    .top-nav {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        background-color: #D4A9A7;
    }
    
    .nav-items {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-items a {
        font: 12px Poppins;
        color: #fff;
    }
    
    .l {
        width: 1px;
        height: 30px;
        background-color: #fff;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .btn-top {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 0 200px;
    }
    
    .btn-top button {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #9B4A46;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }
    
    .box {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 200px;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .input {
        display: flex;
        flex-direction: column;
    }
    
    .left {
        width: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }