* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Poppins;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9B4A46;
    padding: 0 30px;
}

.logo {
    margin-top: auto;
    margin-left: auto;
}

.logo img {
    width: 150px; 
}

.user-icon {
    height: 10px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 15px;
}

.user-icon svg {
    width: 10px;
    height: 10px;
}

.user-icon a {
    font: 12px Poppins;
    color: #fff;
}

.top-nav {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #D4A9A7;
    padding: 0 40px;
}

.nav-items {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 80px;
}

.nav-items a {
    padding: 12px 10px;
    font: 11px Poppins;
    color: #fff;
}

.l {
    width: 1px;
    height: 30px;
    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;
}

.titulo {
    font: 10px Poppins;
}

.btn-top {
    margin-left: auto;
    padding: 0 5%;
}

.btn-top button {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9B4A46;
    font: 9px Poppins;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.btn-top i {
    display: flex;
    justify-content: center;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 400px;
}

.row {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
}

.input input, select{
    width: 170px;
    height: 20px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 7px;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.input input:focus{
    border: 3px solid #9B4A46;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #ffffff inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #000000 !important;
}

.left {
    width: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desc {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#valor {
    width: 80px;
}

#descricao, #imagem {
    width: 350px;
}

#tamanho, #cor {
    width: 70px;
}

.btn-bottom {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding: 40px 6.5%;
}

.btn-bottom button {
    width: 100px;
    height: 40px;
    background-color: #9B4A46;
    outline: none;
    border: none;
    border-radius: 10px;
    font: 13px Poppins;
    color: #fff;
}

@media screen and (min-width: 800px){

    .header {
        padding: 0 95px;   
    }

    .logo img {
        width: 220px; 
    }

    .user-icon {
        margin-top: 0;
    }

    .user-icon svg {
        width: 13px;
        height: 13px;
    }

    .user-icon a {
        font: 16px Poppins;
    }

    .top-nav {
        height: 50px;
        padding: 0 40px;
    }

    .nav-items {
        margin-left: 60px;
    }

    .nav-items a {
        font: 12px Poppins;
    }

    .titulo {
        font: 16px Poppins;
    }

    .btn-top {
        padding: 0 7%;
    }

    .btn-top button {
        width: 30px;
        height: 30px;
        font: 15px Poppins;
    }

    .row {
        width: 1300px;
    }

    .input input, select{
        width: 500px;
        height: 54px;
        border-radius: 10px;
    }

    .left {
        width: 520px;
    }

    .desc {
        width: 1400px;
    }

    #valor {
        width: 200px;
    }

    #descricao, #imagem {
        width: 900px;
    }

    #tamanho, #cor {
        width: 230px;
    }

    .btn-bottom {
        width: 650px;
        padding: 40px 6.5%;
    }
    
    .btn-bottom button {
        width: 200px;
        height: 60px;
        border-radius: 10px;
        font: 17px Poppins;
    }
}