*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: poppins;
}

header{
    background-color: #9B4A46;
    padding-left: 0px;

}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1240px;
    margin: 0 auto;
    padding-bottom: 30px;
}

#logo {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 0;
    left: 122px;
}

#categorias{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
}

#login{
    margin-top: 30px;
    margin-left: 200px;
    width: 60px;
    color: white;
    text-decoration: none;
}

#cadastro{
    margin-top: 30px;
    margin-left: 20px;
    width: 60px;
    color: white;
    text-decoration: none;
}

#buscar {
    margin-top: 30px;
    margin-left: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid #D4A9A7;
    background: transparent;
    width: 300px;
    text-align: center;
}

#buscar:focus{
    border-bottom: 1.5px solid #7A0000;
}

#buscar::placeholder {
    color: white;
    opacity: .7;
    font-family: poppins;
}

.categorias {
    background-color: #D4A9A7;
    margin: 0 auto;
    padding: 10px 0px;

}

#container2{
    max-width: 1240px;
    margin: 0 auto;
}

#container2  li a {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 900px){
    .categorias{
        background-color:red;
        margin: 0 auto;
    }
}

li a{
    color: white;
    text-decoration: none;
}

li{
    display: inline-block;
    margin-left: 120px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 6px 16px;
}
