*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: poppins;
}

header{
    background-color: #9B4A46;
    padding-left: 0px;

}

.container1{
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 1240px;
    margin: 0 auto;
    padding-left: 100px;
    display: flex;
}

.logo{

    width: 150px;
    margin: 0;
    margin-left: 30px;
    padding: 10px;
    padding-bottom: 0;
    left: 122px;
}

.area_do_usuario{

    width: 100%;
    padding: 26px;

}

.area_do_usuario a{

    margin-left: 60px;
    width: 60px;
    color: white;
    text-decoration: none;
}

.barra_de_pesquisa{

    width: 100%;
    padding: 20px;
    margin-left: 130px;
    color: white;
    text-decoration: none;
}

.input{

    border: none;
    outline: none;
    border-bottom: 1px solid #D4A9A7;
    background: transparent;
    width: 400px;
    text-align: center;
    color: white;

}


.buscar:focus{
    border-bottom: 1.5px solid #7A0000;
}

.buscar::placeholder {
    color: white;
    opacity: .7;
    font-family: poppins;
}

.categorias {
    background-color: #D4A9A7;
    margin: 0 auto;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}

.container2{

    max-width: 1240px;
    margin: 0 auto;

}

@media (max-width: 900px){

    .categorias{

        background-color:red;
        margin: 0 auto;
    
    }

}

li a{
    color: white;
    text-decoration: none;
}

li{
    display: inline-block;
    margin-left: 120px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 6px 16px;
}
