*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{

    background-color: #9B4A46;
    padding-left: 0px;

}

.container1{
    max-width: 1240px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.logo{

    margin: 0;
    padding-top: 10px;
    padding-bottom: 0;

}

.categorias{

    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: white;
    
}

.login{

    margin-left: 200px;
    width: 60px;
    color: white;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;

}

.cadastro{

    margin-left: 20px;
    width: 60px;
    color: white;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;

}

.buscar{

    margin-left: 300px;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    width: 300px;
    text-align: center;
}

.categorias{

    background-color: #D4A9A7;
    margin: 0 auto;
    padding: 10px 0px;

}

.container2{

    max-width: 1240px;
    margin: 0 auto;

}

@media (max-width: 900px){

    .categorias{

        background-color:red;
        margin: 0 auto;
    
    }

}

li a{
    color: white;
    text-decoration: none;
}

li{
    display: inline-block;
    margin-left: 120px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 6px 16px;
}
