* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: poppins;
}

/*Começo header*/
header {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #9B4A46;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    padding: 0 5%;
}

header .pesquisa {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 50%;
}

header .pesquisa input {
    border: none;
    outline: none;
    border-bottom: 1.5px solid #D4A9A7;
    background: transparent;
    width: 400px;
    height: 30px;
    text-align: center;
    color: white;
    transition: all ease 0.3s;
}

header .pesquisa input::placeholder {
    color: white;
}

header .pesquisa input:focus {
    border-bottom: 2px solid #7A0000;
}

header .pesquisa i{
    position: inherit;
    margin-left: -1.5rem;
    color: white;
}

.client-bar {
    width: 30%;
}

.client-bar .client-bar--item{
    display: flex;
    margin: 0 4rem;
}


.client-bar .client-bar--item a {
    text-decoration: none;
    margin: 20px;
    display: flex;
    align-items: center;
}

.client--link h4 {
    margin: 0 20px;
    font-size: 14.5px;
    color: white;
    font-weight: normal;
}

.client--link i {
    color: #D4A9A7;
}
/*fim header*/

.categorias {
    width: 100%;
    height: 50px;
    background-color:#D4A9A7;
}

.categorias .categorias--list {
    display: flex;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.categorias .categorias--list a{
    text-decoration: none;
    color: white;
    transition: all ease 0.3s;
    margin: 0 20px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 6px 16px;
}

.categorias .categorias--list a:hover {
    color: #7A0000;
}

.chosed-categories--bar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.chosed-categories--bar .item--bar {
    width: 80%;
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1.9px solid #c2c2c2;
}

.item--bar h1{
    color: rgba(0, 0, 0, 0.6);
    font-weight: 500;
    margin-right: 20px;
}

.item--bar h3 {
    color: #D4A9A7;
    font-weight: 400;
    margin-left: 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}

.item--bar h3:hover {
    color: #7A0000;
}

.item--bar p {
    margin:0 20px;
}



